/*-- scss:defaults --*/

$presentation-font-size-root: 32pt;
$presentation-h1-font-size: 1.5em;

$theme-oicr-green: #65bc45;

$theme-main: $theme-oicr-green;
$theme-main-light: scale-color($theme-main, $lightness: 60%);

$footer-bg: $theme-main;
$footer-fg: white;

$footer-height: 50px;
$button-bottom: $footer-height + 8px;

/*-- scss:rules --*/

.reveal .footer {
    display: inline-block;
    height: $footer-height;
    bottom: 0% !important;
    padding: 0px;
    background-color: $footer-bg;
}

.reveal .slide-number {
    color: $footer-fg;
    font-size: 16pt !important;
}

// .reveal .slide-menu-button {
//     bottom: $button-bottom !important;
// }

// .reveal .slide-chalkboard-buttons {
//     bottom: $button-bottom !important;
// }

.citation {
    font-size: 0.5 * $presentation-font-size-root;
    color: $text-muted;
    position: absolute;
    bottom: 0%;
    right: 2.5%;
}

// copied and modified hamburger menu bar color from quarto.scss in quarto-cli on github
.reveal .slide-menu-button .fa-bars::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{colorToRGB($footer-fg)}" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>');
}

// progress bar settings
.reveal .progress {
    color: $footer-fg;
}

// white box to cover up anything on figures
.reveal .coverup {
    position: absolute;
    background: $body-bg;
    border-style: none;
}

// red border to highlight any items on the slide
.reveal .red-border {
    position: absolute;
    background: transparent;
    border: 4px solid red;
}

.reveal .font-theme-main {
    color: $theme-main;
}

.reveal .small-font{
    font-size: 0.8 * $presentation-font-size-root;
}

td {
    vertical-align: middle;
}

// striped table (see https://github.com/quarto-dev/quarto-cli/discussions/7356)
.table-striped {
  > tbody > tr:nth-of-type(odd) > * {
    background-color: $theme-main-light;
  }
}
